.App{
    display:flex;
  }
  .chatContact{
    width: 150px;
    height: 556px;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
  }
  
  form{
    width: 1241px; 
  }
  .Container{
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }