.App{
  display:flex;
}

.Container{
  width: 90%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.contacts{
  min-width: 200px;
  height: 556px;
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
}

.message{
  width: 700px;
}
