

.contactLink{
    text-decoration: none;    
    color:black;
}

.contactItem{
    display: flex;
    justify-content: space-between;
}

.contactName{
    width: 200px !important;  
}

.contactDeleteIcon{
    position: absolute !important;
    right: 0 !important;
}