.chatContact{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.contactItem{
      display: flex;
      justify-content: space-between;
}
.contactName{
      width: 200px !important;  
      
}
.contactDeleteIcon{
      position: absolute !important;
      right: 0 !important;
}
.contactLink{
      text-decoration: none;    
      color:black;
}
.addChat{

      display: flex;
      justify-content: flex-end;

}
.addChatButton{
      font-size: 2.5rem !important;
      color: teal;
}